<div class="container_big-card">
    <div class="img_big-card">
        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdBVtu8k2cILdvfu8JkkTk-UokW1f4kMTslQ&s" 
        alt="Avangers" style="height: 200px; width: 100%;"></a>
    </div>
    <div class="legend_big-card">
        <p>saturday, 16 october 2024</p>
    </div>
    <div>
        <h1>Avanges notices in my blog</h1>
    </div>
    <div class="description_big-card">
        Descripytion in english about Avanges notices in my blog. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        Descripytion in english about Avanges notices in my blog. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    </div>
</div>