<div class="container_small-card">
    <div class="subcontainer_small-card">
        <div class="img_small-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdBVtu8k2cILdvfu8JkkTk-UokW1f4kMTslQ&s"
                style="width: 100%;">
        </div>
        <div class="content_small-card">
            <div class="legend_big-card">
                <p>saturday, 16 october 2024</p>
            </div>
            <div>
                <h2>Avangers Ultimate in my blog</h2>
            </div>
        </div>
    </div>
    <hr/>
</div>