<div class="container_content">
    <div class="img_content">
        <img class="img-src_content"
            [src]="photoCover">
    </div>
    <div class="content_article">
        <div class="content_title">
            <h1>{{ contentTitle }}</h1>
        </div>
        <div class="content_description">
            <p>{{ contentDescription }}</p>
        </div>
    </div>
    <footer>
        <button [routerLink]="['']" class="back-button_content">⬅️Voltar</button>
        
    </footer>
</div>